/* 
White: #F9FAFB
Background Grey: #1F2937
Foreground Grey: #374151
Green: #10B981
Light Grey: #D1D5DB

 */




body {
    margin: 0;
    background: #1F2937;
    font-family: "Karla", sans-serif;
}

h1 {
    color: #F9FAFB;
    font-size: 50px;
    width: 450px;
    margin: 10px auto;
}

h2 {
    color: #D1D5DB;
    font-size: 25px;
    font-weight: lighter;
    margin: 0 auto;
    width: 450px;
}

#button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 450px;
    margin: 50px auto 30px auto;
}

button {
    background:  #10B981;
    color: #F9FAFB;
    margin: 0;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
}



#divider {
    height: 2px;
    background: #374151;
    width: 450px;
    margin: 10px auto;
}

 #passwords-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    margin: 0 auto;
 }


.passwords {
    width: 40%;
    background: #374151;
    color: #10B981;
    text-align: center;
    padding: 10px 20px;
    border-radius: 6px;
}

#password-colour {
    color: #10B981
}